//
// 1. Initial variables
// ====================

$orange: #f67533;
$yellow: #ffc107;
// $green: #28a745;
$turquoise: #5cbbbc;
// $cyan: #17a2b8;
$blue: #207ccd;
// $purple: #6f42c1;
// $purple: #4d2e87;
$red: #ea443c;

$family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
// $family-serif: 'Kreon', 'Georgia', serif; // add a serif family

$easing: ease-in-out;
$speed: 118ms;

$size-7: .875rem;

//
// 2. Derived variables
// ====================
@import '../../../node_modules/bulma/sass/utilities/derived-variables';

$primary: $turquoise;
$primary-invert: findColorInvert($primary);
// $link: ;
// $link-invert: ;
// $info: ;
// $info-invert: ;
// $success: ;
// $success-invert: ;
// $warning: $orange;
// $warning-invert: $orange-invert;
// $danger: ;
// $danger-invert: ;
// $dark: ;
// $dark-invert: ;
// $text: ;
// $text-invert: ;

// $border: #eaeaea;


//
// 3. File-specific overrides
// ==========================
//
// Bulma has other variables split and defined in each file. If all you want to
// do is override them and let them apply normally, override them here.
// ----------------------------------------------------------------------------

// $body-background-color: #f1f2f3;

// $box-radius: 0;
// $box-shadow: 0 1rem 3rem rgba($black, 0.175);
// $box-padding: 1.5rem;

// $card-footer-background-color: rgba($black, 0.025);

// $footer-background-color: $black-ter;

// $navbar-item-color: rgba($light, 0.7);
// $navbar-item-hover-color: rgba($light, 0.95);
// $navbar-item-hover-background-color: transparent;
// $navbar-item-active-color: $white;
// $navbar-item-active-background-color: transparent;

// $title-color: $light;
// $title-weight: $weight-semibold;

// $subtitle-color: rgba($light, 0.5);

$switch-background-active: $primary;
